# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\md2\MD2-xay_dung_ung _dung_dem_so\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
